nav.navbar {
    background: transparent;
    border: 0;
  }
  @media (max-width: 767px) {
    nav.navbar .navbar-collapse {
      border: 0;
      box-shadow: none;
    }
  }

  .nav-link{
    justify-content: center;
    padding: 5px;
    
  }

  header {
    background-size: cover;
    background-position: center;
    height: 400px;
  }
  header.jumbotron h1 {
    padding-top: 100px;
  }
  header.jumbotron h1,
  header.jumbotron p {
    color: white;
  }